<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Registration</title>
  <link rel="icon" href="/img/icon.png" type="image/png" sizes="32x32">
  <link rel="stylesheet" th:href="@{/main.css}">
</head>
<body>
<div th:replace="/layouts/header :: header"></div>
<main class="formAdd">
  <h1>Registration</h1>
  <div class="formAdd">
  <form method="post" th:action="@{/registration}">
    <input type="text" name="username" placeholder="Enter your login">
    <input type="email" name="email" placeholder="Enter your email">
    <input type="password" name="password" placeholder="Enter your password">
    <input type="password" name="passwordCheck" placeholder="repeat your password">
      <div th:text="${error}" style="color: #de0a20"></div>
    <button type="submit">To registrar</button>
 </form>
 </div>
</main>
<div th:replace="/layouts/footer :: footer"></div>
</body>
</html>